body {
  margin: 0;
  width: 100%; }
  body .back-office-page {
    display: flex;
    flex-direction: column; }
    body .back-office-page .page-header {
      display: flex;
      align-items: center;
      background: #3A9AF1;
      color: #FFFFFF;
      height: 38px;
      width: 100%;
      font-size: 18px;
      font-weight: 600;
      user-select: none; }
      body .back-office-page .page-header .header-info {
        margin: 0 310px 0 50px; }
      body .back-office-page .page-header .header-AP {
        margin: 0 52px 0 63px; }
      body .back-office-page .page-header .header-info, body .back-office-page .page-header .header-FV, body .back-office-page .page-header .header-seller {
        cursor: pointer; }
    body .back-office-page .content-container {
      display: flex;
      flex-direction: column; }
      body .back-office-page .content-container .table-item {
        padding: 15px 0;
        font-size: 16px; }
        body .back-office-page .content-container .table-item:nth-child(2n) {
          background: #F9F9F9; }
        body .back-office-page .content-container .table-item input[type="checkbox"] {
          display: none; }
        body .back-office-page .content-container .table-item .voucher-row {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          cursor: pointer;
          user-select: none;
          height: 55px;
          transition: height .5s ease-out; }
          body .back-office-page .content-container .table-item .voucher-row .voucher-info {
            display: flex;
            flex-direction: column;
            height: inherit;
            justify-content: flex-start; }
            body .back-office-page .content-container .table-item .voucher-row .voucher-info .voucher-info-short {
              display: flex;
              align-items: flex-start; }
              body .back-office-page .content-container .table-item .voucher-row .voucher-info .voucher-info-short .img-wrapper {
                width: 45px;
                height: 45px;
                margin: 0 15px 0 40px; }
                body .back-office-page .content-container .table-item .voucher-row .voucher-info .voucher-info-short .img-wrapper img {
                  width: 45px;
                  height: 45px;
                  object-fit: cover; }
              body .back-office-page .content-container .table-item .voucher-row .voucher-info .voucher-info-short .voucher-info-text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                height: 55px;
                justify-content: space-between; }
                body .back-office-page .content-container .table-item .voucher-row .voucher-info .voucher-info-short .voucher-info-text .info-entry {
                  display: flex;
                  font-size: 14px; }
                  body .back-office-page .content-container .table-item .voucher-row .voucher-info .voucher-info-short .voucher-info-text .info-entry span {
                    color: #9C9C9C;
                    margin: 0 2px 0 0; }
                  body .back-office-page .content-container .table-item .voucher-row .voucher-info .voucher-info-short .voucher-info-text .info-entry .copy-svg {
                    display: flex;
                    width: 20px;
                    height: 14px;
                    margin: 0 0 0 4px;
                    cursor: pointer; }
                    body .back-office-page .content-container .table-item .voucher-row .voucher-info .voucher-info-short .voucher-info-text .info-entry .copy-svg:hover {
                      stroke: #dbdbdb; }
            body .back-office-page .content-container .table-item .voucher-row .voucher-info .voucher-info-expanded {
              display: flex;
              flex-direction: column;
              margin: 5px 0 0 40px; }
              body .back-office-page .content-container .table-item .voucher-row .voucher-info .voucher-info-expanded .info-entry {
                display: flex;
                font-size: 14px; }
                body .back-office-page .content-container .table-item .voucher-row .voucher-info .voucher-info-expanded .info-entry span {
                  color: #9C9C9C;
                  margin: 0 2px 0 0; }
          body .back-office-page .content-container .table-item .voucher-row .edit-voucher {
            width: 20px;
            margin: 0 80px;
            stroke: #707070;
            cursor: pointer; }
            body .back-office-page .content-container .table-item .voucher-row .edit-voucher:hover {
              stroke: #000000; }
          body .back-office-page .content-container .table-item .voucher-row .ask-price {
            margin: 0 83px 0 55px;
            width: 60px;
            display: flex;
            flex-direction: column;
            align-items: center; }
          body .back-office-page .content-container .table-item .voucher-row .action-container {
            position: absolute;
            display: flex;
            flex-direction: column;
            right: 10px;
            height: inherit; }
            body .back-office-page .content-container .table-item .voucher-row .action-container .action-btns {
              display: flex;
              align-items: center;
              justify-content: flex-end; }
              body .back-office-page .content-container .table-item .voucher-row .action-container .action-btns .action-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                width: 70px;
                height: 50px;
                color: #FFFFFF;
                font-weight: 600;
                margin: 0 5px;
                background: #FC2355; }
                body .back-office-page .content-container .table-item .voucher-row .action-container .action-btns .action-btn:nth-child(1) {
                  background: #3A9AF1; }
            body .back-office-page .content-container .table-item .voucher-row .action-container .note {
              width: 253px;
              height: 70px;
              margin: 10px 0 0; }
          body .back-office-page .content-container .table-item .voucher-row.expanded {
            height: 135px;
            transition: height .5s ease-in; }
