body{
  margin: 0;
  width: 100%;
  .back-office-page{
    display: flex;
    flex-direction: column;
    .page-header{
      display: flex;
      align-items: center;
      background: #3A9AF1;
      color: #FFFFFF;
      height: 38px;
      width: 100%;
      font-size: 18px;
      font-weight: 600;
      user-select: none;
      padding: 0;
      margin: 0;
      border: none;
      .header-info{
        margin: 0 310px 0 50px;
      }
      .header-AP{
        margin: 0 52px 0 63px
      }
      .header-seller{
        display: flex;
        align-items: center;
        .seller-filter{
          color: black;
          font-size: 14px;
          font-weight: 400;
          border: none;
          padding: 0 5px;
          margin: 0 0 0 5px;
        }
        .clear-search{
          font-size: 12px;
          font-weight: 300;
          color: white;
          margin: 0 0 0 5px;
        }
      }
      .header-status{
        position: absolute;
        right: 17px;
        display: flex;
        .status-filter{
          font-size: 14px;
          font-weight: 400;
          color: black;
          background: white;
          border: none;
          border-radius: 4px;
          width: 147px;
          margin: 0 0 0 5px;
        }
      }
      .header-info, .header-FV, .header-seller, .header-status{
        cursor: pointer;
      }
    }
    .content-container{
      display: flex;
      flex-direction: column;
      .table-item{
        padding: 15px 0;
        font-size: 16px;
        &:nth-child(2n){
          background: #F9F9F9;
        }
        input[type="checkbox"] {
          display: none;
        }
        .voucher-row{
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          cursor: pointer;
          user-select: none;
          height: 55px;
          transition: height .5s ease-out;
          font-weight: 400;
          margin:0;
          .voucher-info{
            display: flex;
            flex-direction: column;
            height: inherit;
            justify-content: flex-start;
            .voucher-info-short{
              display: flex;
              align-items: flex-start;
              .img-wrapper{
                width:45px;
                height:45px;
                margin: 0 15px 0 40px;
                img{
                  width: 45px;
                  height: 45px;
                  object-fit: cover;
                }
              }
              .voucher-info-text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                height: 55px;
                justify-content: space-between;
                .info-entry{
                  display: flex;
                  font-size: 14px;
                  span{
                    color: #9C9C9C;
                    margin: 0 2px 0 0;
                  }
                  .copy-svg{
                    display: flex;
                    width: 20px;
                    height: 14px;
                    margin: 0 0 0 4px;
                    cursor: pointer;
                    &:hover{
                      stroke: #dbdbdb;
                    }
                  }
                }
              }
            }
            .voucher-info-expanded{
              display: flex;
              flex-direction: column;
              margin: 5px 0 0 40px;
              .info-entry {
                display: flex;
                font-size: 14px;
                span {
                  color: #9C9C9C;
                  margin: 0 2px 0 0;
                }
              }
            }
          }
          .edit-voucher{
            width: 20px;
            margin: 0 80px;
            stroke: #707070;
            cursor: pointer;
            &:hover{
              stroke: #000000;
            }
          }
          .ask-price{
            margin: 0 83px 0 55px;
            width: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          .action-container{
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            right: 10px;
            height: inherit;
            .action-btns{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 160px;
              .action-btn{
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                width: 70px;
                height: 50px;
                color: #FFFFFF;
                font-weight: 600;
                margin: 0 5px;
                background: #FC2355;
                &:nth-child(1){
                  background: #3A9AF1;
                }
              }
              .status{
                //transform: rotate(360deg);
                transition: all .5s linear;
              }
              .rotate-status-bad{
                transform: rotate(180deg);
                transition: all .5s linear;
              }
              .rotate-status-good{
                transform: rotate(360deg);
                transition: all .5s linear;
              }
            }
            .note{
              width:253px;
              height:70px;
              margin: 10px 0 0
            }
          }
          &.expanded{
            height: 135px;
            transition: height .5s ease-in;
          }
        }
      }
    }
  }
  .editVoucherModal{
    .modal-dialog{
      width:80vw;
      .edit-page{
        position: relative;
        padding: 20px;
        .fields-container{
          display: flex;
          flex-direction: column;
          .field-pair{
            display: flex;
            margin: 10px;
            label{
              font-weight: 600;
              width: 150px;
              color: #2C2C2C;
              user-select: none;
            }
            input[type="checkbox"] {
              display: none;
            }
            input[type="checkbox"] + label:after{
              position: absolute;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              content:'\00a0';
              width: 16px;
              height: 16px;
              border: 1px solid #dbdbdb;
              border-radius: 3px;
              margin: 2px 0 0 51px;
            }
            input[type="checkbox"]:checked + label:after{
              //background: #fff;
              color: #333;
              content: "\2713";
            }
            .edit-input{
              border: 1px solid black;
              width: 150px;
              font-weight: 400;
            }
            .no-edit-input{
              border: none;
              color: #797979;
              width: 70%;
            }
          }
        }
        .action-btns{
          position: absolute;
          top:25px;
          right: 40px;
          display: flex;
          .action-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 70px;
            height: 50px;
            color: #FFFFFF;
            font-weight: 600;
            margin: 0 5px;
            background: #FC2355;
            &:nth-child(1){
              background: #3A9AF1;
            }
          }
        }
      }
    }
  }
}
